body {
  font-family: Gilam;
}
.baner {
  background-color: #171717;
  height: 70px;
  margin: 0;
  }
.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1095px;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}
.logo {
  width: 196px;
  height: 25px;
}
.contact-fon {
  padding-right: calc(39px * 0.75);
}
.telephone-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
.contact-accent {
  color: #d6af76;
}
.callback {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 10px 25px 10px 49px;
  background-image: url(../img/vector.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: left 28px bottom 12px;
  border: 1px solid #e4b564;
}
.our-services {
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container-about {
  width: 1095px;
  margin-left: auto;
  margin-right: auto;
}
.about-services-titel {
  font-weight: 700;
  font-size: 38px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}
.about-services {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 41px;
  margin: 0;
  width: 887px;
}
.work-titel {
  display: grid;
  grid-template-rows: 351px 351px;
  grid-template-columns: repeat(6, 166px);
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
  gap: 20px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.work-list-text {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #171717;
}
.work-list-first {
  grid-area: item1;
  background-image: url(../img/1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-list-second {
  grid-area: item2;
  background-image: url(../img/2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-list-third {
  grid-area: item3;
  background-image: url(../img/3.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-list-fourth {
  grid-area: item4;
  background-image: url(../img/4.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-list-fifth {
  grid-area: item5;
  background-image: url(../img/5.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-tehnik {
  background-color: #171717;
}
.about-tehnik {
  padding-top: calc(162px * 0.75);
}
.work-tehnik {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 750px;
  justify-content: space-between;
  margin: 70px 0 0 0;
  column-gap: 21px;
  padding-left: 0;
  list-style: none;
  position: relative;
  text-shadow: 2px 2px 2px #171717;
}
.work-tehnik-first {
  background-image: url(../img/m1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 234px;
}
.work-tehnik-second {
  background-image: url(../img/p1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 18px;
  height: 420px;
  width: 350px;
}
.work-tehnik-fourth {
  background-image: url(../img/t1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
  width: 350px;
  height: 303px;
}
.work-tehnik-third {
  background-image: url(../img/m2.jpg);
  background-repeat: no-repeat;
  background-size: 350px 329px;
  width: 350px;
  height: 329px;
}
.work-tehnik-fifth {
  background-image: url(../img/tp1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 189px;
}
.work-tehnik-sixth {
  background-image: url(../img/kmy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  width: 350px;
  height: 234px;
}
.work-tehnik-seven {
  background-image: url(../img/k1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 207px;
  margin-top: 20px;
}
.work-tehnik-bar {
  position: relative;
}
.tehnik-bar-text {
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  color: #ffffff;
  left: 38px;
  top: 32px;
  width: 219px;
  margin: 0;
}
.tehnik-bar-transfer {
  width: 180px;
}
.text-accent {
  text-transform: uppercase;
}
.our-clients {
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
}
.our-clients-titel {
  padding-top: calc(161px * 0.75);
}
.our-clients-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin-bottom: calc(72px * 0.75);
  
}
.clients-menu-mor {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 10px 40px;
  border: 1px solid #e4b564;
}

.client-list {
  width: 363px;
  height: 293px;
  overflow: hidden;
  transition: 1s;
}
.client-list-item {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 365px);
  grid-template-rows: repeat(2, 293px);
}
.client-titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  object-fit: cover; 
  transition: 1.2s;
  overflow: hidden;
}

.client-item {
  position: absolute;
  filter: drop-shadow(2px 2px 2px #171717);
transition: 1.2s;
}
.client-item-logo {
  width: calc(62px * 0.75);
  height: calc(55px * 0.75);
}
.client-item-text {
  width: calc(139px * 0.75);
  height: calc(55px * 0.75);
}
.our-adres {
  position: absolute;
  width: calc(326px * 0.75);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0 12px;
  opacity: 0;
  text-shadow: 2px 2px 2px #171717;
  transition: 1.2s;
  bottom: 45px;
}


.client-titel:hover > .client-list {
  display: block;
  transform: scale(1.5);
  display: block;
}
.client-titel:hover > .client-item {
transform: translate(0,-90px);
}
.client-titel:hover > .our-adres {
  opacity: 1;
  } 
.footer-item {
  min-height: 212px;
  background-color: #171717;
}
